<!DOCTYPE html><html lang="en">
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<div class="row"> <!-- Sets the section into a row -->
    <h2> <!-- The header of the page -->
        About Us
        <hr> <!-- Horozontal Line for spacing -->
    </h2> <!-- End header -->
    <div class="column"> <!-- Defines a column to split the information into 50% -->
        <!-- All of the information below are to help users who are new to the website -->
        <h3>About</h3>
        <p>
            We are here to help people to post and reply to messages based around sancta maria,
            we have the mission to help all and to improve the quality and speed that a student
            is able to get help from someone.
        </p>
        <p>
            Read our help page if you are ready to get started posting and answering other
            students' questions, thanks for using our website and we hope to see you posting!
        </p>
        <!-- End Content -->
    </div>
    <div class="column"> <!-- The other 50% -->
        <h2>
            Contact Us
        </h2>
        <hr>
        <p>
            Email: ADMIN@SANCTAMARIA.SCHOOL.NZ
        </p>
        <p>
            Phone: 09 274 4081
        </p>
        <p>
            Fax: 09 274 4082
        </p>
    </div>
</div>

{% endblock content %}
</html>