{% extends "base.html" %} {% block title %}Your Files{% endblock %} {% block content%}

<form method="POST"> <!-- Defines a form -->
  <div class="row"> <!-- Uses a row to make the section 50% -->
      <h3 align="center">File Upload</h3> <!-- Header -->
      <hr> <!-- Horozontal Line for spacing -->
        <div class="column"> <!-- 50% -->
          <div class="form-group"> <!-- Defines a section -->
            <label for="email">Submit File</label> <!-- Label for the groups input -->
            <input
              type="file"
              id="file"
              name="file"
              class="form-control"
              placeholder="Upload "
            /> <!-- Expected inputs -->
            <hr> <!-- Horozontal Row for spacing -->
            <div align="center"> <!-- Centers the upload file button -->
              <button class="btn btn-primary" type="submit">Upload File</button> <!-- Button to submit a file -->
          </div>
        </div>
      </div>
      <div class="column"> <!--50%  -->
        <h3 align="center">Files</h3> <!-- Header for the section -->
        <hr>
      </div>
    </form> 
  </div>
{% endblock %}