{% extends "base.html" %} {% block title %}Help{% endblock %} {% block content%}
<div class="row">
    <h2 align>
        Welcome To The Help Page
        <hr>
    </h2>
    <div class="column">
        <h3 align>Getting Started</h3>
        <p align></p>
            To begin using this website you will need to sign up, this can be found on the 
            navbar, once you have successfully completed this you will be able to reach the
            blog and post updates and files.
        </p>
        <hr>
        <p align>
            From this you will be able to like and add comments to any users posts. To comment
            you need to click into the field that says "comment something" you can then enter
            your comment and click post, where it will then appear under the post itself in the
            view comments section. To add a like simply press on the thumbs up button where it will
            then be added to the rest that were already on the post.*
        </p>
        <hr>
        <p align>
            You can also delete comments and posts if you wish too, this can be done by clicking on
            the down arrow box where it will then say delete, to delete this then click the delete 
            button that appears. Then the comment of post will then disapear.
        </p>
        <hr>
        <p align>
            All of the below are what you need to know to be able to make use of this websites
            main functions and you are now ready to use the system effiecenty and effectively.
        </p>
    </div>
    <div class="column">
        <h3>Site Map</h3>
        <img src="https://i.ibb.co/bF7Htvx/s-drawio.png" alt="SiteMap" class="responsive" border="0">
        <hr>
    </div>
</div>

{% endblock %}