<!DOCTYPE html><html lang="en">
{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content%}
<form method="POST"> <!-- Defines the form to login -->
  <h3>Login</h3> <!-- Header title -->
  <hr> <!-- Horozontal Line for spacing -->
  <div class="form-group"> <!-- Defines the information below into a form grouping -->
    <!-- Allows the user to log into their account that has been previously made -->
    <label for="email">Email Address</label> <!-- Sets the label for the section -->
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
    > <!-- Expected information for the email section  -->
    <label for="password">Password</label> <!-- Sets the label for the section -->
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter Password"
    > <!-- Expected information for the password  -->
    <br> <!-- Spacing -->
    <div> <!-- Aligns the button to the center of the screen -->
      <button class="btn btn-primary" type="submit">Login</button> <!-- Button to submit information -->
    </div>
  </div>
</form>
{% endblock %}
</html>